html,head,body
{
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgb(85, 177, 223); */
}

h1
{
    font-size: 48px;
    text-align: center;
}
p
{
    font-size: 48px;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". . .";
  }
#dynText1
{
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
}
#h2Left
{
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
}
#dynText2
{
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
}
#h2Center
{
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
}
#dynText3
{
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
}
#h2Right
{
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
}
.grid-container-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". . . . .";
    text-align: center;
}
#button2015
{
    text-align: center;
    grid-column-start: 2;
    grid-column-end: 3;
}
#button2016
{
    text-align: center;
    grid-column-start: 4;
    grid-column-end: 5;
}
#buttonHeadline
{
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
}
#loading
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: auto;
}
.charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". .";
    text-align: center;
    width: 480px;
    height: auto;
}
#passChart
{
    grid-column-start: 1;
    grid-column-end: 2;
    text-align: center;
}
#cargoChart
{
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: center;
}
#mailChart
{
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
}

.button 
{
    backface-visibility: hidden;
  position: relative;
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  background: #55b1df;
  border-radius: 0px;
  border: 0px solid #246;
  border-width: 0px 0px 4px 0px;
  padding: 10px 20px 10px 20px;
    color: #fff;
  font-size: initial;
  font-family: Helvetica Neue;
  font-weight: 900;
  font-style: normal
  }
.button > div 
{
    color: #999;
  font-size: 10px;
  font-family: Helvetica Neue;
  font-weight: initial;
  font-style: normal;
  text-align: center;
  margin: 0px 0px 0px 0px
}
.button > i 
{
    font-size: 1em;
  border-radius: 0px;
  border: 0px solid transparent;
  border-width: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  position: static
}
  .button > .ld {
    font-size: initial
}
.grid-container-plane {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: ". . .";
  }
#planeLeft
{
    width: 200px;
    height: auto;
    grid-column-start: 1;
    grid-column-end: 2;
    transform: scaleX(-1);
    animation: jet-anim 2s alternate-reverse ease-in-out infinite;
}
#planeRight
{
    width: 200px;
    height: auto;
    grid-column-start: 5;
    grid-column-end: 6;
    margin-left: auto;
    margin-right: 0;
    animation: jet-anim 2s alternate-reverse ease-in-out infinite;
}
@keyframes jet-anim{
    from{
        transform: translate( 0);
    }
    to{
        transform: translate(0, -30px);
    }
}